/* home section */
#home {
  position: relative;
  background-image: url('images/pangasinan.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#home .content {
  position: relative;
  z-index: 1;
}

/* --- Cards hover effect--- */
.card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}