.hero-section {
    min-height: 100vh;
    background: url("images/pangasinan.png") center center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.45);
}